# 依赖
node_modules/
package-lock.json
yarn.lock

# 构建产物
unpackage/
dist/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境配置
.env.local
.env.*.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 操作系统
.DS_Store
Thumbs.db

# UniCloud
uniCloud-aliyun/cloudfunctions/*/node_modules/
uniCloud-aliyun/database/*.db

# 临时文件
*.tmp
*.temp
.cache/
